* {
	padding: 0px;
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
img {
	height: 300px;
	width: 300px;
	margin-top: 30px;
}
.burger__menu {
	display: none;
	height: 26px;
	width: 26px;
	margin: 0 10px;
	cursor: pointer;
	transition: height .2s, width .2s;
	position: absolute;
	left: calc(100% - 52px);
}
.burger__menu:hover {
	height: 30px;
	width: 30px;
}
/*Шапка*/
.container {
	max-width: 1020px;
	margin: 0 auto;
}
header {
	height: 50px;
	box-shadow: 0 0 25px 1px rgba(221, 221, 221, 0.5);
	background-color: white;
}
body {
	background-color: rgba(221, 221, 221, 0.1);
}
.header__content .logo {
	font-size: 24px;
	margin-left: 15px;
}
.header__content .logo a {
	text-decoration: none;
	color: black;
}
.header__content, .header__menu, .header__menu__content {
	display: flex;
}
.header__content {
	height: 50px;
	justify-content: space-between;
	align-items: center;
}
.header__menu__content a{
	color: black;
	text-decoration: none;
	padding-right: 15px;
	padding-left: 15px;
	transition: 0.3s;
}
.header__menu__content a:hover {
	color: gray;
}

/*Контент*/
.module__header {
	display: flex;
	justify-content: center;
}
.module__content__hedaer__wrapper h1 {
	display: flex;
	justify-content: center;
	font-weight: normal;
	color: black;
	font-size: 36px;
	margin-top: 15px;
	text-align: center;
}
.module__content__hedaer__wrapper p{
	color: gray;
	font-size: 18px;
	margin-top: 5px;
	text-align: center;
	padding-left: 0px;
}
.app {
	margin: 15px;
	border-radius: 20px;
	min-height: 100vh;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 0 0 25px 1px rgba(221, 221, 221, 0.2);
}
.app .app__header {
	display: flex;
	justify-content: center;
	font-size: 24px;
	padding-top: 15px;
	font-weight: bold;
	text-align: center;
}

/*Опросник*/
.quiz {
	margin-left: 5%;
	margin-top: 30px;
	margin-right: 5%;
}
.quiz li {
	list-style-type: none;
	min-height: 100px;
	box-shadow: 0 0 10px 1px rgba(221, 221, 221, 0.2);
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
	cursor: pointer	;
	transition: 0.3s;
}
.quiz li:hover h1, p{
	padding-left: 10px;

}
.quiz li:hover {
	box-shadow: 0 0 10px 1px rgba(221, 221, 221, 0.6);
}
.quiz li h1{
	padding-top: 10px;
	transition: 0.3s;
	margin-left: 20px;
	margin-top: 20px;
}
.quiz li p {
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: 10px;
	color: lightgray;
}
.quiz .next {
	box-shadow: 0 0 10px 1px rgba(250, 140, 0, 0.18);
}
.slide{
	display: none;
	opacity: 0;
}
.finish__wrapper{
	display: flex;
	justify-content: center;
	text-align: center;
}
.finish__wrapper p{
	margin-top: 20px;
	padding: 0px;
	color: gray;
}
.finish__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.select__size {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.select__size li {
	display: flex;
	margin: 0 10px;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 5px 10px;
	transition: 0.3s;
	cursor: pointer;
}
.select__size li:hover {
	background-color: gray;
	color: white;
}
.select__size .active:hover{
	background-color: green;
	border: 1px solid green;
}
.select__size .active {
	border: 1px solid lightgreen;
	background-color: lightgreen;
	color: white;
}
.button {
	height: 50px;
	width: 200px;
	background-color: darkorange;
	border-radius: 20px;
	font-weight: bold;
	color: white;
	box-shadow: 0 0 10px 1px rgba(221, 221, 221, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	cursor: pointer;
}
.next_pizza {
	margin-top: 10px !important;
	cursor: pointer;
}
/*Подвал*/
footer {
	height: 50px;
	background-color: rgba(24, 24, 24, 1);
	box-shadow: 0 0 25px 1px rgba(221, 221, 221, 0.2);
}
.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: lightgray;
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.footer__content h1 {
	font-weight: 400;
	font-size: 16px;
}
.pop__up {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .65);
	top: 0;
	right: 0;
	left: 0;
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0;
}
.pop__up__content {
	height: 144px;
	width: 720px;
	border-radius: 20px;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;

}
.pop__up__content__header {
	padding: 10px;

}
.pop__up__content__body {
	font-size: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.phone {
	text-decoration: none;
	color: rgba(24, 24, 24, 1);;
}
@media (max-width: 1024px) {
	.container {
		max-width: 950px;
	}
}
@media(max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media(max-width: 767px) {
	.container {
		max-width: none;
	}
	.burger__menu{
		display: block;
	}
	.header__menu {
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		right: 0;
		background-color: white;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: none;
		opacity: 0;
	}
	.header__menu__content{
		margin-top: 15px;
		font-size: 25px;
	}
	.header__content {
		align-items:;
	}
	.footer__content h1{
		font-size: 15px;
	}
	.pop__up__content {
		width: 90%;
		min-height: 10%;
	}
	.phone {
		font-size: 17px;
	}
	.pop__up__content__header h1{
		font-size: 18px;
	}
}